.about {
    &__wrapper {
        text-align: center;
    }
    &__inner {
        @media screen and (min-width: 1280px) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
    &__organizer {
        text-align: start;
        font-size: 16px;
    }
    
    &__title {
        font-size: 20px;
        color: #37373F;
        margin: 25px 0 15px 0;
    }

    &__text {
        @media screen and (min-width: 1280px) {
            max-width: 584px;
        }
    }

    &__provide {
        text-align: initial;
    }
    &__btn {
        font-size: 16px;
        line-height: 25px;
        color: #5286EC;
        width: 125px;
        height: 25px;
        text-align: left;
        border: 1px solid #5286EC;
        margin: 20px 0 40px 0;
    }
}