.footer {
    margin-top: 87px;

    &__container {
        @extend %container;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid #b3b3b3;
    }

    &__logo {
        width: 84px;
        height: 15px;
    }

    &__bottom {
        // display: flex;
        // flex-direction: column;
    }

    &__botom-inner {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__copy {
        text-align: center;
    }

    &__phone {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #B3B3B3;
    }

    &__reserved {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
        color: #B3B3B3;
    }

    &__pay {
        display: flex;
        align-items: center;
    }

    &__lang {
        margin-left: 166px;
    }

    &__text {
        margin-top: 25px;
    }

    .pay__items {
        margin-left: 12px;
    }
}