.meet {
    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        border-radius: 50%;
        height: 65px;
        width: 65px;
        background: #FC9B09;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #37373F;
        text-align: center;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #37373F;
        text-align: center;
    }

    &__person {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #C7C7C7;    
        padding-top: 52px;
        padding-bottom: 20px;
    }

    .swiper-container {
        max-width: 400px;
        width: 100%;
        min-height: 200px;
        padding-bottom: 15px;
    }

    .swiper-slide {
        // max-width: 400px;
        // width: 100%;
        // min-height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .swiper-button-next {
        background-image: url(../images/arrow-swipper.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 10px;
        top: 55px;
        right: 13px;
        left: auto;
    }

    .swiper-button-prev {
        background-image: url(../images/arrow-swipper.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        width: 19px;
        height: 10px;
        top: 55px;
        right: auto;
        left: 13px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .swiper-button-next::after, .swiper-container-rtl, .swiper-button-prev::after {
        content: '';
    }
    
    .swiper-pagination-bullet {
        background: #FC9B09;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination {
        bottom: 30px;
        left: 0;
        width: 100%;
    }
}