.person-meet {
    &__img {
        height: 65px;
    }

    &__inner {
        max-width: 155px;
        margin-left: 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #37373F;
    }

    &__profession {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #37373F;
    }

    &__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #5286EC;
        background: 0 0;
        border: 0;
        text-align: left;
    }
} 