.photosession {

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 40px;

        @media screen and (min-width: 1280px) {
            // grid-column: 2/3;
            // grid-row: 1/3;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px 1fr;
        }
    }
    // &__content {
    // }

    &__title {
        @include text(28px, 400, 34px, $textColor);
            max-width: 190px;
            margin: 0 auto;

        @include media(sm) {
            @include text(40px, 500, 48px, $textColor);
            margin: 50px 0 40px 0px;
        }

        @include media(md) {
            @include text(40px, 500, 48px, $textColor);
            margin: 50px 0 40px 0px;
        }
        
        @include media(lg) {
            display: contents;
        }
    }
    // @include media(md) {
    //         @include text(40px, 500, 48px, $textColor);
    //         margin: 50px 0 40px 0px;
    //     }

    &__img {
        width: 100%;
        height: 100%;

        @media screen and (min-width: 576px) {
            width: 506px;
            height: 340px;
        }

        @media screen and (min-width: 768px) {
            width: 668px;
            height: 437px;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1280px) {
            width: 554px;
            height: 374px;
            margin: 0 auto;
        }
    }
        

    &__text {
        color: #37373F;
        font-size: 14px;
        max-width: 290px;
        line-height: 20px;
        margin-top: 29px;

        @media screen and (min-width: 576px) {
        font-size: 16px;
        max-width: 506px;
        }

        @media screen and (min-width: 768px) {
            font-size: 18px;
            // margin: 50px 0 25px 0px;
            max-width: 546px;
            }

        @media screen and (min-width: 1280px) {
            font-size: 18px;
            line-height: 26px;
            // margin:0 auto;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    
    &__incsription {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #37373F;
        margin-left: 13px;
    }

    &__rating--photosession {
        min-height: 70px;
    margin-top: 40px;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    &__incsription {
        font-size: 14px;
        padding-left: 10px;
    }

    &__wrapper {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

    &__text-wrapper{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    &__stars--img {
        margin-left: 8px;
    }
} 