.photos {
    &__title {
        font-size: 26px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        color: #37373F;
        width: 265px;
        margin: 75px 0 30px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(8, 277px);
        grid-template-rows: 185px;
        gap: 15px;
        overflow: scroll;

        @media screen and (min-width: px) {
        display: grid;
        grid-template-columns: repeat(2,8fr);
        grid-template-rows: 185px;
        gap: 15px;
        }
        @media screen and (min-width: 1280px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 185px;
            gap: 11px;
            }
    }

    &__btn {
        display: none;
    }

    .container {
        // padding: 0;
        padding: 0 0 0 15px;
    }
}