.photosession {

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 40px;

        @media screen and (min-width: 1280px) {
            // grid-column: 2/3;
            // grid-row: 1/3;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px 1fr;
        }
    }
    // &__content {
    // }

    &__title {
        @include text(28px, 400, 34px, $textColor);
        max-width: 190px;
        text-align: center;
        color: #37373f;
        margin: 40px 0 15px 0px;

        @include media(sm) {
            @include text(40px, 500, 48px, $textColor);
            margin: 50px 0 40px 0px;
        }

        @include media(md) {
            @include text(40px, 500, 48px, $textColor);
            margin: 50px 0 40px 0px;
        }
        
        @include media(lg) {
            display: contents;
        }
    }
    // @include media(md) {
    //         @include text(40px, 500, 48px, $textColor);
    //         margin: 50px 0 40px 0px;
    //     }

    &__img {
        width: 290px;
        height: 197px;

        @media screen and (min-width: 576px) {
            width: 506px;
            height: 340px;
        }

        @media screen and (min-width: 768px) {
            width: 668px;
            height: 437px;
        }

        @media screen and (min-width: 1280px) {
            width: 554px;
            height: 374px;
        }
    }
        

    &__text {
        margin: 50px 0 25px 0px;
        color: #37373F;
        font-size: 14px;
        line-height: 20px;

        @media screen and (min-width: 576px) {
        font-size: 16px;
        }

        @media screen and (min-width: 768px) {
            font-size: 18px;
            margin: 50px 0 25px 0px;
            }

        @media screen and (min-width: 1280px) {
            font-size: 18px;
            margin:0 auto;
        }
    }

    &__rating {
        margin: 50px 0 40px 0;
    }

    &__incsription {
        font-size: 14px;
        padding-left: 10px;
    }

    &__wrapper {
        display: flex;
    }
} 