.products {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 45px;
    }

    &__title {
        text-align: center;
        font-size: 26px;
        line-height: 31px;
        color: #37373f;
        margin-top: 40px;
        font-weight: 400;
    }

    &__list {
        display: block;
        width: 290px;
        height: 100%;
        border: 1px solid #C7C7C7;
        margin-top: 40px;

        @media screen and (min-width: 576px) {
            width: 506px;
        }

        @media screen and (min-width: 768px) {
            width: 668px;
        }

        @media screen and (min-width: 1280px) {
            width: 770px;
        }
    }

    &-list__day {
        text-align: center;
        font-size: 18px;
        padding-bottom: 16px;
        border-bottom: 0.5px solid #C7C7C7;
        line-height: 26px;
        color: #37373F;
        margin-top: 20px;
    }

    &-list__item {
        padding-left: 20px;
        border-bottom: 0.5px solid #C7C7C7;
        display: block;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;
        min-height: 220px;

        @media screen and (min-width: 576px) {
            display: flex;
        }
    }

    &-list__item-inner {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;        
    }

    &-list__time {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        margin-bottom: 10px;
    }

    &-list__coast {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #37373F;
        margin-bottom: 10px;
    }

    &-list__places {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
        margin-bottom: 20px;
    }

    &-list__btn {
        height: 50px;
        width: 129px;
        border-radius: 3px;
        border: 2px solid #FC9B09;
        box-sizing: border-box;
        color: #FC9B09;
        background-color: #fff;
}

    &-list__rating {
        display: flex;
        align-items: center;
        min-height: 100px;
        padding-left: 22px;
    }
}