.products {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 45px;
    }

    &__title {
        text-align: center;
        font-size: 26px;
        line-height: 31px;
        color: #37373f;
        margin-bottom: 40px;
        font-weight: 400;
    }

    &__list {
        display: block;
        width: 290px;
        height: 600px;
        border: 1px solid black;

        @media screen and (min-width: 576px) {
            width: 506px;
            height: 458px; 
        }

        @media screen and (min-width: 768px) {
            width: 668px;
            height: 458px; 
        }

        @media screen and (min-width: 1280px) {
            width: 770px;
            height: 458px; 
        }
    }

    &-list__day {
        text-align: center;
        font-size: 18px;
        margin: 30px;
        border-bottom-style: groove;
    }

    &-list__item {
        padding-left: 10px;
        border-bottom-style: groove;
        margin: 30px 20px 20px 20px;
    }

    &-list__item-inner {
        display: flex;
        flex-direction: column;
    }

    &-list__btn {
        height: 50px;
        width: 129px;
        border-radius: 3px;
        color:#FC9B09; 
        margin: 20px 0px 30px 0px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}

    &-list__rating {
        padding-left: 10px;
    }
}