.rating {
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__text-wrapper {
        margin-left: 18px;
    }

    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }
}